body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.2  ;
    background-color: #F6F5F1;
}
* {
  text-decoration: none;
  color: black;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.header{
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 60px;

}
  .container{
    width: 100%;
    max-width: 1150px;
    margin:0 auto;
}
.header{
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 60px;

}
.header__logo{
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-align: left;

}
.header__inner{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_languages {
display: flex;
align-items: center;
}

.language_link {
margin-right: 10px;
text-decoration: none;
color: black;
font-weight: bold;
font-size: 16px;
}

.language_link:last-child {
margin-right: 0;
}

.object_desc{
    padding-left: 30px;
}
 .object_block{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
 }
 .object_desc_title{
    font-size: 60px;
 }
 .object_desc_block{
    font-size: 25px;
    
 }
 .object_price{
    font-weight: 700;
 }
  .slider {
    width: 1200px;
  height: 750px;
  margin: 30px;
position: relative;
}
  

  .slider img {
    width: 1200px;
    height: 750px;
    border-radius: 20px;
  }
.phone_number{
    font-weight: 700;
    margin-bottom: 100px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 15px;
 
}

.prev {
  left: 10px;
  z-index: 10000;
  content: '◀'; /* Заменено на символ стрелки */
}

.next {
  right:10px;
  content: '▶'; /* Заменено на символ стрелки */
}
  

@media screen and (max-width: 1200px) {
    .container {
      max-width: 992px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .container {
      max-width: 576px;
    }
  
    .header {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .object_block {
      flex-direction: column;
      margin-bottom: 50px;
    }
  
    .slider,
    .slider img {
      width: 90%;
      height: auto;
      margin: 10px ;
      border-radius: 10px;
    }
  
    .object_desc {
      padding-left: 20px;
    }
  
    .object_desc_title {
      font-size: 40px;
    }
  
    .object_desc_block {
      font-size: 20px;
    }
    .header__logo {
      font-size: 30px;
      display: flex;
      align-items:baseline;
    }
    .real-estate {
      margin-left: -52px;
    }
  
  }
  @media screen and (max-width: 476px) {
    .prev,
    .next {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      border-radius: 10px;
    }
    .next {
      margin-right: 14px;
    }
  }
  