body{
    font-family: 'Roboto', sans-serif;
        margin: 0;
    line-height: 1.2  ;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.header{
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 60px;

}
.header__logo{
    font-family: 'Anton', sans-serif;
    font-size: 50px;

}
.header__inner{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__links{
    font-size: 20px;
    font-weight: 700;

}
.nav__link{
  
    margin-right: 30px;
   color: black;
   text-decoration: none;

}
.container{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.container_objects{
   
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
section {
    margin-top: 250px;
    position: relative;
  }
  
  .section-inner {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .section__boldtext {
    width: 300px;
  }

  .section_header{
    text-align: left;
  }
  .section__header_title {
    font-size: 40px;
 position: absolute;
    top: -70px;
  }
  .section__about {
    
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items horizontally in the center */
  }
  
  
  .section__description {
   
  
    width: 900px;
    height: 100px;

    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
  }
  
 
 
  .objects_header{
    padding-bottom: 30px;
    position: relative;
  }
  .objects_header_title{
    font-size: 40px;

  }
  .object{
    display: flex;
    padding-bottom: 46px;

    

}
.object_title{
    padding-left: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-top: -10px;
}




.object_text{
    margin-top: 17px;
    margin-left:18px ;
    width: 594px;
    height: 93px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.object_image{
    width: 300px;
    height:auto;
}
.object_price{
    padding-left: 11px;
    color:white;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
   
}
.divfordate{
    margin-left: 18px;
    background-color:black;
    border-radius: 16px;
    width: 100px;
    height: 22px;
    justify-content: center;
    

}
.seperator{
    border: 1px solid #E0E0E0;
    margin-bottom: 60px;
    width: 858px;

  }
  .contacts{
    margin-top: 150px;
    
  }
  .contact_block{
    font-family: 'Anton', sans-serif;

  }
  .contacts_header{
    font-size: 40px;
  }
  .infospace_phone{
    margin-top: 20px;
  }
  .infospace{
    margin-top: 10px;
  }
  .infospace_adress{
    margin-top: 10px;
    margin-bottom: 150px;
  }





  /* Media queries for different screen sizes */

/* Large desktop screens */
@media (max-width: 1200px) {
  .header {
    padding-left: 80px;
    padding-right: 40px;
    margin-left: 0;
  }

  .header__logo {
    font-size: 40px;
  }

  .nav__links {
    font-size: 18px;
  }
  .section__about{
    padding-left: 40px;
  }

  .section__header_title{
    padding-left: 20px;
  }

  .section__description {
    width: 800px;
    padding: 0 20px;
  }
  .objects{
    padding-left: 90px;
  }

  .object_text {
    width: 500px;
    padding: 0 20px;
  }
  .contacts{
    padding-left: 90px;
  }
}

/* Laptop and tablet screens */
@media (max-width: 992px) {
  .header {
    padding-left: 60px;
    margin-left: 0;
  }

  .header__logo {
    font-size: 35px;
  }

  .nav__links {
    font-size: 16px;
    
  }

  .section__description {
    width: 700px;
    padding: 0 20px;
  }

  .object_text {
    width: 450px;
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .header {
    padding-right: 20px;
    margin-right: 20px; /* Add right margin */
  }

  .header__logo {
    font-size: 30px;
  }

  .nav__links {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
  .nav__link_our{
    text-align: left;
    text-decoration: none;
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section {
    margin-top: 200px;
    margin-left: 0;
    margin-right: 20px; /* Add right margin */
  }

  .section__description {
    width: 100%;
    padding-right: 55px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 100px;
    text-align: justify; /* Center the text */
  }

  .objects {
    padding-top: 180px;
    margin-left: -30px;
    margin-right: 60px;
   
  }

  .object {
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
  }

  .object_title {
    padding-left: 0;
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
  }

  .object_text {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    padding-right: 50px;
  }
  .object_text_p{
    text-align: justify;
  }

  .object_image {
    width: 100%;
    height: auto;
  }

  .object_price {
    font-size: 14px;
  }

  .divfordate {
    margin-left: 95px;
    justify-content: center;
    width: 80px;
    height: 18px;
  }

  .seperator {
  border: none;
    
  }

  .contacts {
    margin-top: 100px;

    margin-right: 100px; /* Add right margin */
  }

  .contacts_header {
    font-size: 30px;
    text-align: center; /* Center the text */
  }

  .infospace_phone,
  .infospace,
  .infospace_adress {
    text-align: center;
  }
}
